body {

    font-size: 18px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 85%;
    margin: auto auto;
    text-align: center;
    position: relative;
    top: 50px;
}


h1 {
    font-size: 36px;
}

#js-search-bar {
    width: 80%;
    max-width: 500px;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
}

#search-image {
    display: inline-block;
    width: 30px;
    position: relative;
    top: 10px;
}

.filter-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    font-size: 14px;  
    text-align: left;
}

.filter {
    display: inline-block;
    padding: 4px;
    margin-bottom: 8px;
    font-size: 14px;
    width:50%;
    max-width: 100px;
}

label {
    margin: 5px;
}

fieldset {
    margin: 20px auto;
    font-size: 14px;
}


section#display-result {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

#result-list {
  list-style: none;
}

.hidden {
    display: none;
}

