body {

    font-size: 18px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.outer-container {
    position: relative;
    top: 50px;
}

.container {
    width: 85%;
    margin: auto auto;
    text-align: center;
}


h1 {
    font-size: 36px;
}

#main-form {
    margin: 0 auto;
}


#js-search-bar {
    width: 70%;
    max-width: 600px;
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
    font-size: 16px;
}

#search-image {
    display: inline-block;
    width: 30px;
    position: relative;
    top: 10px;
}


.filter-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    font-size: 14px;  
    text-align: left;
}

.filter {
    display: inline-block;
    padding: 4px;
    margin-bottom: 8px;
    font-size: 14px;
    width: 45%;
    max-width: 100px;
}

label {
    margin: 5px;
}

fieldset {
    margin: 20px auto;
    font-size: 14px;
}


section#display-result {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

#result-list {
  list-style: none;
}

.hidden {
    display: none;
}

button {
    padding: 8px;
    margin: 1.2em;
}

.button-active {
    background-color: darkgreen;
    color: white;
}